<main class="bg-white">
  <div class="container py-3 py-md-5">
    <form id="collection-form" method="get" action="{{ collection.url }}{% if current_tags %}/{{ current_tags | join: '+' }}{% endif %}">

    <h1>{{ collection.title | escape }}</h1>

    <div class="row">

      <aside class="col-md-3">
        <div class="form-group">
          {%- assign current_sort_by = collection.sort_by | default: collection.default_sort_by  -%}
          <label for="sort_by">Sort by...</label>
          <select id="sort_by" name="sort_by" class="form-control" data-submit-on-change="#collection-form">
            <option value="manual" {% if current_sort_by == 'manual' %}selected="selected"{% endif %}>Featured</option>
            <option value="price-ascending" {% if current_sort_by == 'price-ascending' %}selected="selected"{% endif %}>Price: Low to High</option>
            <option value="price-descending" {% if current_sort_by == 'price-descending' %}selected="selected"{% endif %}>Price: High to Low</option>
            <option value="title-ascending" {% if current_sort_by == 'title-ascending' %}selected="selected"{% endif %}>A-Z</option>
            <option value="title-descending" {% if current_sort_by == 'title-descending' %}selected="selected"{% endif %}>Z-A</option>
            <option value="created-ascending" {% if current_sort_by == 'created-ascending' %}selected="selected"{% endif %}>Oldest to Newest</option>
            <option value="created-descending" {% if current_sort_by == 'created-descending' %}selected="selected"{% endif %}>Newest to Oldest</option>
            <option value="best-selling" {% if current_sort_by == 'best-selling' %}selected="selected"{% endif %}>Best Selling</option>
          </select>
        </div>

        <div class="form-group">
          <label for="view">View as...</label>
          <select id="view" name="view" class="form-control" data-submit-on-change="#collection-form">
            <option value="grid" {% if collection-view == 'grid' %}selected="selected"{% endif %}>Grid</option>
            <option value="list" {% if collection-view == 'list' %}selected="selected"{% endif %}>List</option>
          </select>
        </div>

        <div class="form-group js-hide">
          <button type="submit" class="btn btn-secondary">Update</button>
        </div>

        <hr />

        <div class="form-group">
          <label>Category</label>
          <ul class="nav flex-column">
            {%- for collection_option in collections -%}
              {%- unless collection_option.title contains '(Related)' -%}
              <li class="nav-item">
                {%- if collection.handle == collection_option.handle -%}
                  <span class="nav-link">
                    {{ collection_option.title | escape }}
                  </span>
                {%- else -%}
                  <a class="nav-link" href="{{ collection_option.url }}?view={{ collection-view }}&sort_by={{ collection.sort_by }}">
                    {{ collection_option.title | escape }}
                  </a>
                {%- endif -%}
              </li>
              {%- endunless -%}
            {%- endfor -%}
          </ul>
        </div>

        <div class="form-group">
          <label>Filter by...</label>
          <ul class="nav flex-column">
            {% for tag in collection.tags %}
              <li class="nav-item">
                {% if current_tags contains tag %}
                  {{ '&#9745;' | append: tag | link_to_remove_tag:tag | replace:'title="', 'class="nav-link" title="' }}
                {% else %}
                  {{ '&#9744;' | append: tag | link_to_add_tag:tag | replace:'title="', 'class="nav-link" title="' }}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </aside>

      {%- paginate collection.products by 12 -%}
      <section class="col-md-9">
        {%- if collection-view == 'grid' -%}
        <div class="row">
          {%- for product in collection.products -%}
            {%- include 'product' -%}
          {%- endfor -%}
        </div>
        {%- else  -%}
          {%- for product in collection.products -%}
            {%- include 'product-list' -%}
          {%- endfor -%}
        {%- endif -%}

        {%- if paginate.pages > 1 -%}
          <div class="text-center">
            {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
          </div>
        {%- endif -%}
      </section>
      {%- endpaginate -%}

    </form>
  </div>
</main>
