<div class="col-6 col-md-3 text-center">
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | product_img_url: '150x100', scale: 2, crop: 'center' }}" class="img-fluid" alt="{{ product.title | escape }}" />
  </a>
  <h6 class="mt-2">{{ product.title | escape }}</h6>
  <p class="text-muted">{{ product.price | money }}</p>
</div>
