<!DOCTYPE html>
<html>
  <head>
    {{ content_for_header }}
    {{- 'bootstrap.min.css' | asset_url | stylesheet_tag -}}
    {{- 'styles.css' | asset_url | stylesheet_tag -}}
  </head>
  <body>
    {%- section 'header' -%}
    {{ content_for_layout }}
    {{- 'jquery-3.1.1.min.js' | asset_url | script_tag -}}
    {{- 'bootstrap.min.js' | asset_url | script_tag -}}
    {{- 'theme.js' | asset_url | script_tag -}}
  </body>
</html>
